<h1>Fiche Contact</h1>

<p><strong>Prénom :</strong> {{ contact.firstName }}</p>
<p><strong>Nom :</strong> {{ contact.lastName }}</p>
<p><strong>Email :</strong> {{ contact.email }}</p>
<p><strong>Département :</strong> {{ contact.department.name }}</p>
<p><strong>Message :</strong></p>
<p>{{ contact.message }}</p>